<!--
Conor O'Brien
SDEV 328 Winter 2022
home.html
-->
<include href="includes/header.html"></include>

<!--Main page content.-->
<div class="container ">
    
    <div class="container row text-center border-dark  ml-1 p-3 pr-sm-0 my-shadow border border-light c">
        
        <!--Main text content area.-->
        <div class="col-md-6 mb-md-0 mb-4">
            
            <article>
                <h2 class="text-center">Finally - a place where silkies can love and roam.</h2>
                
                We <i>all</i> know it's been tough out there for silkie chicken dating. Farmers just want us
                to breed and make award-worthy babies. Sometimes, we just want to sit down and have a
                nice meal of meal and connect! We get you, and we ARE you. At <strong>DatingSilkie</strong>,
                we provide a platform for casual meetups, friendly encounters, or the start of something
                real - and <i>real</i> silkie. See what all the crowing's about! Sign up for free today!
            </article>
            
            <br>
            
            <h5>See what our users are bokking about!</h5>
            
            <hr>
            
            <div class="mx-5">
                <p><q>Bawwwwwk bawk bawk bawk bawk bawwwwk! Bawk bawk.</q> ~ Cecilia</p>
                <p><q>I can't believe I can read!</q> ~ Nick </p>
                <p><q>Once I got all of the feather's out of my eyes, I found an amazing mate!</q> ~ Maria</p>
                <p><q>I can recognize up to 100 faces!!</q> ~ Kiki</p>
            </div>
            
            <hr>
            
            <!-- start profile btn -->
            <div class="container text-center pt-4">
                <a href="information" class="btn btn-primary ">Create a Profile!</a>
            </div>
        
        </div>
        
        <!--Pictures-->
        <div class="col-md-6 my-auto">
            <img class="img-fluid chicken-pic mb-3" src="images/silkies.jpg" alt="two lovely silkie chickens">
            <img class="img-fluid chicken-pic mt-md-5 mt-lg-0" src="images/other-silkies.jpg"
                 alt="two lovely silkie chickens">
        </div>
    
    </div>
    
    <br>

</div>

</body>
</html>